{% extends 'dash/index.html.twig' %}

{% block main %}

    <div class="container-fluid">

        <div class="row">
            <!-- Proyectos -->
            <div class="col-xl-12 col-sm-12 col-md-12 mt-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">Inicio</a></li>
                        <li class="breadcrumb-item active">Informe - Proyectos</li>
                    </ol>
                </nav>
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Proyectos en {{ anual }}</h1>
                    {% if enviado != true  %}
                        <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm " data-toggle="modal" data-target="#proyectosnewModal"><i class="fas fa-plus fa-sm text-white-50"></i> Nuevo registro</button>
                    {% endif %}
                </div>

                <!-- Modal -->
                <div class="modal fade" id="proyectosnewModal" tabindex="-1" role="dialog" aria-labelledby="proyectosnewModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="proyectosnewModalLabel">Nuevo registro de proyecto</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {{ render(path('proyectos_new')) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-4 col-sm-12 col-md-4 mb-2">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Proyectos</h6>
                    </div>
                    <div class="card-body">
                        <p class="text-justify text-dark">
                            En este rubro deberá reportar los proyectos que ha
                            formado o está formando dentro del periodo que corresponde a su informe.</p>
                        <p class="text-justify text-dark"><strong class="text-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></strong>
                            Se ha precargado en este sistema la información que nos proporciona la Unidad de Docencia del CCM, favor de verificar que la información
                            sea la correcta. Si hubiera algún proyecto o posdoc que no aparezca favor de agregarlo.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-md-8 col-sm-12 mb-2">
                {% for proyecto in proyectos %}
                    {% set proymodalshow = 'proyshowModal'~ proyecto.id  %}
                    {% set proymodaledit = 'proyeditModal'~ proyecto.id  %}

                    <div class="card border-left-primary shadow mb-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 font-weight-bold text-primary mb-1">{{ proyecto.nombre }}, <small> {{ proyecto.numero  }}</small></div>
                                    <div class="h6 mb-1 font-weight-bold text-gray-800">
                                        {% if proyecto.tipo is defined %}Tipo: {{ proyecto.tipo }}<br>{% endif %}
                                        {% if proyecto.inicio is defined %}Fecha de inicio: {{ proyecto.inicio|localizeddate('long', 'none') }}<br>{% endif %}
                                        {% if proyecto.fin is defined %}Fecha de término: {{ proyecto.fin|localizeddate('long', 'none') }}<br>{% endif %}

                                        <p class="text-right">

                                            {% if enviado != 1 %}
                                                <button type="button" class="btn btn-primary btn-circle btn-sm" data-toggle="modal" data-target="#{{ proymodaledit }}" >
                                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                                </button>
                                                <button type="button" class="btn btn-danger btn-circle btn-sm" data-toggle="modal" data-target="#{{ proymodalshow }}">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="{{ proymodalshow }}" tabindex="-1" role="dialog" aria-labelledby="{{ proymodalshow }}Label">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="{{ proymodalshow }}Label">{{ proyecto.nombre |title}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {{ render(path('proyectos_show', {'id': proyecto.id}) ) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="{{ proymodaledit }}" tabindex="-1" role="dialog" aria-labelledby="{{ proymodaledit }}Label">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="{{ proymodaledit }}Label">{{ proyecto.nombre |title}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {{ render(path('proyectos_edit', {'id': proyecto.id}) ) }}

                                </div>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Fin proyectos -->


{% endblock %}

{% block head_js %}
    {{ parent() }}
    <script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="{{ asset('js/onChangeProy.js')}}"></script>
{% endblock %}