{% extends 'base.html.twig' %}

{% block title %}CCM - Dashboard{% endblock %}

{% block main %}

    <!-- Page Heading -->
    <div class="card my-4">
        <div class="card-body">
            <h1 class="h3 mb-0 text-gray-800 mb-2">Informe de actividades {{ actual }}</h1>
            <div>
                <a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-light btn-icon-split btn-sm ">
                                        <span class="icon text-gray-600">
                                            <i class="fas fa-print"></i>
                                        </span>
                    <span class="text">Vista previa</span>
                </a>
                <a href="{{ path('informe_pdf',{'anio':informe.anio}) }}" class="btn btn-light btn-icon-split btn-sm my-2">
                                        <span class="icon text-gray-600">
                                            <i class="fas fa-file-pdf"></i>
                                        </span>
                    <span class="text">Versión PDF</span>
                </a>
                {% if informe.enviado == 1 %}
                    <span class="badge badge-pill badge-success">Enviado</span>

                {% else %}
                    <span class="badge badge-pill badge-warning">No enviado</span>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-9">
            <!-- Content Row -->
            <div class="row">
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card {% if informe.productividades|length == 0 %}border-bottom-warning{% else %}border-bottom-success{% endif %} shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="font-weight-bold text-dark mb-1">Productividad primaria</div>
                                    <a href="{{ path('productividad_index',{'productividades':informe.productividades} ) }} " class="btn btn-light btn-icon-split btn-sm my-2">
                                        <span class="icon text-gray-800"><i class="fas fa-search"></i></span>
                                        <span class="text">Ver información</span>
                                    </a>
                                </div>
                                <div class="col-auto text-center">
                                    <i class="fas fa-file-alt fa-2x text-gray-600"></i><br>
                                    {% if informe.productividades|length > 0 %}
                                        <span class="badge badge-pill badge-success">{{  informe.productividades|length }}</span>
                                    {% else %}
                                        <span class="badge badge-pill badge-warning">{{  informe.productividades|length }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card {% if informe.estudiantes|length == 0 %}border-bottom-warning{% else %}border-bottom-success{% endif %} shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="font-weight-bold text-dark mb-1">Tesistas y posdocs</div>
                                    <a href="{{ path('estudiantes_index',{'estudiantes':informe.estudiantes} ) }} " class="btn btn-light btn-icon-split btn-sm my-2">
                                        <span class="icon text-gray-800"><i class="fas fa-search"></i></span>
                                        <span class="text">Ver información</span>
                                    </a>
                                </div>
                                <div class="col-auto text-center">
                                    <i class="fas fa-graduation-cap fa-2x text-gray-600"></i><br>
                                    <span class="badge badge-pill {% if informe.estudiantes|length > 0 or informe.posdocs|length > 0 %}badge-success{% else %}badge-warning{% endif %}">
                                                {% set posdocs = informe.posdocs|length %} {% set estudiantes = informe.estudiantes|length %} {{ posdocs + estudiantes }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card {% if informe.cursos|length == 0 %}border-bottom-warning{% else %}border-bottom-success{% endif %} shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="font-weight-bold text-dark mb-1">Cursos y seminarios</div>
                                    <a href="{{ path('cursos_index',{'cursos':informe.cursos} ) }} " class="btn btn-light btn-icon-split btn-sm my-2">
                                        <span class="icon text-gray-800"><i class="fas fa-search"></i></span>
                                        <span class="text">Ver información</span>
                                    </a>
                                </div>
                                <div class="col-auto text-center">
                                    <i class="fas fa-university fa-2x text-gray-600"></i><br>
                                    <span class="badge badge-pill {% if informe.cursos|length > 0 or informe.cursos|length > 0 %}badge-success{% else %}badge-warning{% endif %}">
                                                {{ informe.cursos|length }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card {% if informe.proyectos|length == 0 %}border-bottom-warning{% else %}border-bottom-success{% endif %} shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="font-weight-bold text-dark mb-1">Proyectos</div>
                                    <a href="{{ path('proyectos_index',{'proyectos':informe.proyectos} ) }} " class="btn btn-light btn-icon-split btn-sm my-2">
                                        <span class="icon text-gray-800"><i class="fas fa-search"></i></span>
                                        <span class="text">Ver información</span>
                                    </a>
                                </div>
                                <div class="col-auto text-center">
                                    <i class="fas fa-tasks fa-2x text-gray-600"></i><br>
                                    <span class="badge badge-pill {% if informe.proyectos|length > 0 or informe.proyectos|length > 0 %}badge-success{% else %}badge-warning{% endif %}">
                                                {{ informe.proyectos|length }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card {% if eventos|length == 0 %}border-bottom-warning{% else %}border-bottom-success{% endif %} shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="font-weight-bold text-dark mb-1">Eventos académicos, de divulgación y vinculación</div>
                                    <a href="{{ path('eventos_index',{'eventos':eventos} ) }} " class="btn btn-light btn-icon-split btn-sm my-2">
                                        <span class="icon text-gray-800"><i class="fas fa-search"></i></span>
                                        <span class="text">Ver información</span>
                                    </a>
                                </div>
                                <div class="col-auto text-center">
                                    <i class="fas fa-calendar-check fa-2x text-gray-600"></i><br>
                                    <span class="badge badge-pill {% if eventos|length > 0 or eventos|length > 0 %}badge-success{% else %}badge-warning{% endif %}">
                                                {{ eventos|length }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% set visitantes=0 %}
                {% for informe in informe.eventos %}
                    {% if informe.tipo == 'Visitante' %}
                        {% set visitantes = visitantes + 1 %}
                    {% endif %}
                {% endfor %}
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card {% if visitantes == 0 %}border-bottom-warning{% else %}border-bottom-success{% endif %} shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="font-weight-bold text-dark mb-1 pb-4">Visitantes</div>
                                    <a href="{{ path('visitantes_index',{'visitantes':informe.eventos} ) }} " class="btn btn-light btn-icon-split btn-sm my-2">
                                        <span class="icon text-gray-800"><i class="fas fa-search"></i></span>
                                        <span class="text">Ver información</span>
                                    </a>
                                </div>
                                <div class="col-auto text-center">
                                    <i class="fas fa-suitcase fa-2x text-gray-600"></i><br>
                                    <span class="badge badge-pill {% if visitantes > 0 %}badge-success{% else %}badge-warning{% endif %}">{{ visitantes}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card {% if informe.otros|length == 0 %}border-bottom-warning{% else %}border-bottom-success{% endif %} shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="font-weight-bold text-dark mb-1 pb-4">Otras actividades</div>
                                    <a href="{{ path('otros_index',{'otros':informe.otros} ) }} " class="btn btn-light btn-icon-split btn-sm my-2">
                                        <span class="icon text-gray-800"><i class="fas fa-search"></i></span>
                                        <span class="text">Ver información</span>

                                    </a>
                                </div>
                                <div class="col-auto text-center">
                                    <i class="fas fa-table fa-2x text-gray-600"></i><br>
                                    <span class="badge badge-pill {% if informe.otros|length > 0 or informe.otros|length > 0 %}badge-success{% else %}badge-warning{% endif %}">
                                                {{ informe.otros|length }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card {% if informe.comentarios|length == 0 %}border-bottom-warning{% else %}border-bottom-success{% endif %} shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="font-weight-bold text-dark mb-1 pb-4">Comentarios</div>
                                    <a href="{{ path('comentarios_index',{'comentarios':informe.comentarios} ) }} " class="btn btn-light btn-icon-split btn-sm my-2">
                                        <span class="icon text-gray-800"><i class="fas fa-search"></i></span>
                                        <span class="text">Ver información</span>

                                    </a>
                                </div>
                                <div class="col-auto text-center">
                                    <i class="fas fa-comment fa-2x text-gray-600"></i><br>
                                    <span class="badge badge-pill {% if informe.comentarios|length > 0 or informe.comentarios|length > 0 %}badge-success{% else %}badge-warning{% endif %}">
                                                {{ informe.comentarios|length }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if "now"|date('Y-m-d') >= abierto and "now"|date('Y-m-d') <= cerrado %}

        <div class="col-xl-3">
            <div class="card mb-4">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Informe y plan de trabajo </h6>
                </div>
                <div class="card-body">
                    <p class="text-dark text-justify">La fecha límite para el envío de tu Informe de trabajo {{ actual }} y Plan de trabajo {{ siguiente }}
                        es el <strong>{{ abierto|localizeddate('long', 'none') }}
                        </strong></p>
                    {% if informe.enviado is defined and informe.enviado == 1 %}
                        <div class="px-3 py-2 bg-gradient-success text-white">
                            <p class="text-justify">Se ha recibido la información de tu informe y plan de trabajo,
                                por lo tanto ya no es posible realizar modificaciones sobre ellos.
                            </p>
                        </div>
                    {% else %}

                            <div class="px-3 py-2 bg-gradient-warning text-white">
                            Aún no se ha recibido información de tu informe y plan de trabajo.
                        </div>

                        <div class="py-2">
                            <a href="#" data-toggle="modal" data-target="#myModal2" aria-expanded="false" aria-controls="collapseThree" class="btn btn-info btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-arrow-right"></i>
                                </span>
                                <span class="text">Enviar informe y plan</span>
                            </a>
                        </div>

                    {% endif %}

                </div>
            </div>

        </div>
        {% endif %}
    </div>



    <div class="card my-4">
        <div class="card-body">
            <h1 class="h3 mb-0 text-gray-800 mb-2">Plan de trabajo {{ siguiente }}
                {% if plan|length == 0 %}
                    <a href="{{ path('plan_new')}} " class="btn btn-light btn-icon-split btn-sm ml-4">
                        <span class="icon text-gray-800"><i class="fas fa-plus"></i></span>
                        <span class="text">Nuevo plan de trabajo</span>
                    </a>
                {% else %}
                    <a href="{{ path('plan_edit', {'id': plan.id} )}} " class="btn btn-light  ml-4">
                        <span class="icon text-gray-800"><i class="fas fa-pencil-alt text-gray-600"></i></span>
                        <span class="text"> Editar</span>
                    </a>
                {% endif %}
            </h1>
            <div>
                <a href="#" data-toggle="modal" data-target="#myModal3" class="btn btn-light btn-icon-split btn-sm ">
                    <span class="icon text-gray-600"><i class="fas fa-print"></i></span>
                    <span class="text">Vista previa</span>
                </a>
                <a href="{{ path('plan_pdf',{'anio':siguiente}) }} " class="btn btn-light btn-icon-split btn-sm my-2">
                    <span class="icon text-gray-600"><i class="fas fa-file-pdf"></i></span>
                    <span class="text">Versión PDF</span>
                </a>
                {% if informe.enviado == 1 %}
                    <span class="badge badge-pill badge-success">Enviado</span>

                {% else %}
                    <span class="badge badge-pill badge-warning">No enviado</span>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Modal informe -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-dialog-centered modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Vista previa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ render(path('informe_show', {'id': informe.id}) ) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal envío -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-dialog-centered modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModal2Label">Envío de información</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% if informe.enviado is defined and informe.enviado == 1 %}
                    <div class="p-3">
                        <p class="p-3 text-white text-justify bg-gradient-info">
                            Hemos enviado un acuse de recibo a tu correo <em><strong>{{ app.user.email }}</strong></em>
                        </p>
                    </div>
                {% else %}
                    <div class="p-3 bg-gray-100 text-justify">
                        Al momento de enviar tu informe y plan de trabajo recibirás un acuse de recibo a tu correo <em><strong>{{ app.user.email }}</strong></em>.<br>
                        Una vez enviada la información no será posible realizar modificaciones sobre el informe o plan de trabajo.
                        {% if plan.id is defined %}
                            <p class="text-center pt-4"><a class="btn btn-primary" href="{{ path('informe_send',{'anio': actual} ) }}" role="button"><i class="fa fa-paper-plane" aria-hidden="true"></i> Enviar informe y plan de trabajo</a></p>
                        {% else %}
                            <p class="text-justify alert alert-danger">No has creado tu plan de trabajo.</p>
                        {% endif %}
                    </div>
                {% endif %}
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal vista previa plan -->
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModal3Label">Vista previa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% if plan.id is defined %}
                        {{ render(path('plan_show', {'id': plan.id}) ) }}
                    {% else %}
                        <p class="text-danger"> No se ha creado el plan de trabajo.</p>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}