{% form_theme form 'form_errors.html.twig' %}

{{ form_start(form, {'action': path('posdoc_new')}) }}



<form>
    <div class="form-row">
        <div class="form-group col-md-12">
            <div>
                <label class="text-info" for="formNombre"> {{ form_label(form.nombre) }} </label>
                {{ form_widget(form.nombre,{'attr': {'class': 'form-control input-sm', 'placeholder':'Nombre del posdoctorante'} } ) }}
            </div>
            <div>{{ form_errors(form.nombre) }}</div>
        </div>

        <div class="form-group col-md-4">
            <div>
                <label class="text-info" for="formProgramas"> {{ form_label(form.programasp) }} </label>
                {{ form_widget(form.programasp,{'attr': {'class': 'form-control input-sm', 'placeholder':'Programa'} } ) }}
            </div>
            <div>{{ form_errors(form.programasp) }}</div>
        </div>

        <div class="form-group col-md-4">
            <div>
                <label class="text-info" for="formPages">
                    {{ form_label(form.programa) }}
                </label>
                {{ form_widget(form.programa,{'attr': {'class': 'form-control input-sm', 'placeholder':'Programa','readonly': 'true'} } ) }}
            </div>
            <div>{{ form_errors(form.programa) }}</div>
        </div>

        <div class="form-group col-md-6">
            <div class="text-info">{{ form_label(form.inicio) }}</div>
            <div class="form-row">
                <div class="col-lg-4" >{{ form_widget(form.inicio.day, {'attr': {'class': 'form-control input-sm'} } ) }}</div>
                <div class="col-lg-4" >{{ form_widget(form.inicio.month, {'attr': {'class': 'form-control input-sm'} } ) }}</div>
                <div class="col-lg-4" >{{ form_widget(form.inicio.year, {'attr': {'class': 'form-control input-sm'} } ) }}</div>
                <div>{{ form_errors(form.inicio) }}</div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="text-info">{{ form_label(form.fin) }}</div>
            <div class="form-row">
                <div class="col-lg-4" >{{ form_widget(form.fin.day, {'attr': {'class': 'form-control input-sm'} } ) }}</div>
                <div class="col-lg-4" >{{ form_widget(form.fin.month, {'attr': {'class': 'form-control input-sm'} } ) }}</div>
                <div class="col-lg-4" >{{ form_widget(form.fin.year, {'attr': {'class': 'form-control input-sm'} } ) }}</div>
                <div>{{ form_errors(form.fin) }}</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
        {{ form_end(form) }}

    </div>
</form>

