<div class="card border-left-primary shadow mb-2">
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="h5 font-weight-bold text-primary mb-1">{{ posdoc.nombre}}</div>
                <div class="h6 mb-1 font-weight-bold text-gray-800">
                    {% if posdoc.inicio is defined %}Fecha de inicio: {{ posdoc.inicio|localizeddate('long', 'none') }}<br>{% endif %}
                    {% if posdoc.fin is defined %}Fecha de término: {{ posdoc.fin|localizeddate('long', 'none') }}<br>{% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    {{ form_start(delete_form) }}
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    {% if enviado != true %}
        <input class="btn btn-danger" type="submit" value="Eliminar" onclick="return confirm('¿Estás seguro de eliminar este registro?')" >
    {% endif %}
    {{ form_end(delete_form) }}
</div>