{% extends 'dash/index.html.twig' %}

{% block main %}

    <div class="container-fluid">
        <div class="row">
            <!-- Estudiantes -->
            <div class="col-xl-12 col-sm-12 col-md-12 mt-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">Inicio</a></li>
                        <li class="breadcrumb-item active">Informe - Tesistas y posdocs</li>
                    </ol>
                </nav>
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Tesistas en {{ anual }}</h1>
                    {% if enviado != true  %}
                        <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm " data-toggle="modal" data-target="#estudiantesnewModal">
                            <i class="fas fa-plus fa-sm text-white-50"></i> Nuevo registro
                        </button>
                    {% endif %}
                </div>
                <!-- Modal -->
                <div class="modal fade" id="estudiantesnewModal" tabindex="-1" role="dialog" aria-labelledby="estudiantesnewModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="estudiantesnewModalLabel">Nuevo registro de tesista</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {{ render(path('estudiantes_new')) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-4 col-sm-12 col-md-4 mb-2">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Tesistas</h6>
                    </div>
                    <div class="card-body">
                        <p class="text-justify text-dark">
                            En este rubro deberá reportar los tesistas que ha formado o está formando dentro del
                            periodo que corresponde a su informe.
                        </p>
                        <p class="text-justify text-dark"><strong class="text-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></strong>
                            Se ha precargado en este sistema la información que nos proporciona la Unidad de Docencia del CCM, favor de verificar que la información
                            sea la correcta. Si hubiera algún tesista o posdoctorante que no aparezca favor de agregarlo.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-md-8 col-sm-12 mb-2">
                {% for estudiante in estudiantes %}
                    {% set estmodalshow = 'estshowModal'~ estudiante.id  %}
                    {% set estmodaledit = 'esteditModal'~ estudiante.id  %}

                    <div class="card border-left-primary shadow mb-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 font-weight-bold text-primary mb-1">{{ estudiante.alumno }}, <small> {{ estudiante.nivel  }}, {{ estudiante.programa }}</small></div>
                                    <div class="h6 mb-1 font-weight-bold text-gray-800">
                                        {% if estudiante.avance is defined %}Avance: {{ estudiante.avance }}%<br>{% endif %}
                                        {% if estudiante.titulado is defined %}Titulado: {% if estudiante.titulado %}Si{% else %}No{% endif %}<br>{% endif %}
                                        {% if estudiante.titulacion != null %}Fecha de titulación: {{ estudiante.titulacion|localizeddate('long', 'none') }}<br>{% endif %}
                                        {% if estudiante.tesis  != null %}Título de la Tesis: {{ estudiante.  tesis }}{% endif %}

                                        <p class="text-right">

                                            {% if enviado != 1 %}
                                                <button type="button" class="btn btn-primary btn-circle btn-sm" data-toggle="modal" data-target="#{{ estmodaledit }}" >
                                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                                </button>
                                                <button type="button" class="btn btn-danger btn-circle btn-sm" data-toggle="modal" data-target="#{{ estmodalshow }}">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="{{ estmodalshow }}" tabindex="-1" role="dialog" aria-labelledby="{{ estmodalshow }}Label">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="{{ estmodalshow }}Label">{{ estudiante.alumno |title}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {{ render(path('estudiantes_show', {'id': estudiante.id}) ) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="{{ estmodaledit }}" tabindex="-1" role="dialog" aria-labelledby="{{ estmodaledit }}Label">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="{{ estmodaledit }}Label">{{ estudiante.alumno |title}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {{ render(path('estudiantes_edit', {'id': estudiante.id}) ) }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Fin Estudiantes -->

        {% if not is_granted('ROLE_TECNICO') %}

            <div class="row">
                <div class="col-xl-12 col-sm-12 col-md-12 mt-4">
                    <hr>
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Posdoctorantes en {{ anual }}</h1>
                        {% if enviado != true  %}
                            <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm " data-toggle="modal" data-target="#posdocsnewModal"><i class="fas fa-plus fa-sm text-white-50"></i> Nuevo registro</button>
                        {% endif %}
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="posdocsnewModal" tabindex="-1" role="dialog" aria-labelledby="posdocsnewModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="posdocsnewModalLabel">Nuevo registro de posdoctorante</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {{ render(path('posdoc_new')) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-4 col-sm-12 col-md-4 mb-2">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Posdoctorantes</h6>
                        </div>
                        <div class="card-body">
                            <p class="text-justify text-dark">
                                En este rubro deberá reportar los estudiantes de posdoctorado que ha
                                formado o está formando dentro del periodo que corresponde a su informe.</p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-8 col-sm-12 col-md-8">

                    {% for posdoc in posdocs %}
                        {% set posdocmodalshow = 'estshowModal'~ posdoc.id  %}
                        {% set posdocmodaledit = 'esteditModal'~ posdoc.id  %}

                        <div class="card border-left-primary shadow mb-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="h5 font-weight-bold text-primary mb-1">{{ posdoc.nombre }}</div>
                                        <div class="h6 mb-1 font-weight-bold text-gray-800">
                                            {% if posdoc.inicio is defined %}Fecha de inicio: {{ posdoc.inicio|localizeddate('long', 'none') }}<br>{% endif %}
                                            {% if posdoc.fin is defined %}Fecha de término: {{ posdoc.fin|localizeddate('long', 'none') }}<br>{% endif %}
                                            <p class="text-right">
                                                {% if enviado != 1 %}
                                                    <button type="button" class="btn btn-primary btn-circle btn-sm" data-toggle="modal" data-target="#{{ posdocmodaledit }}" >
                                                        <i class="fa fa-edit" aria-hidden="true"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-danger btn-circle btn-sm" data-toggle="modal" data-target="#{{ posdocmodalshow }}">
                                                        <i class="fas fa-trash"></i>
                                                    </button>
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="{{ posdocmodalshow }}" tabindex="-1" role="dialog" aria-labelledby="{{ posdocmodalshow }}Label">
                            <div class="modal-dialog modal-dialog-centered modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="{{ posdocmodalshow }}Label">{{ posdoc.nombre |title}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {{ render(path('posdoc_show', {'id': posdoc.id}) ) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="{{ posdocmodaledit }}" tabindex="-1" role="dialog" aria-labelledby="{{ posdocmodaledit }}Label">
                            <div class="modal-dialog modal-dialog-centered modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="{{ posdocmodaledit }}Label">Posdoctorante</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {{ render(path('posdoc_edit', {'id': posdoc.id}) ) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Fin posdocs -->
        {% endif %}
    </div>

{% endblock %}

{% block head_js %}
    {{ parent() }}
    <script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="{{ asset('js/onChangePosdoc.js')}}"></script>

    <script src="{{ asset('js/onChange.js')}}"></script>


{% endblock %}