{% form_theme form 'form_errors.html.twig' %}

{{ form_start(form, {'action': path('eventos_new')}) }}

<form>
    <div class="form-row">

        <div class="form-group col-md-3">
            <div>
                <label class="text-info" class="text-info" class="text-info" for="formTipo">{{ form_label(form.tipo) }}</label>
                {{ form_widget(form.tipo,{'attr': {'class': 'form-control input-sm', 'placeholder':'Licencia o comisión'} } ) }}
            </div>
            <div>{{ form_errors(form.tipo) }}</div>
        </div>
        <div class="form-group col-md-3">
            <div>
                <label class="text-info" class="text-info" class="text-info" for="formTipo">{{ form_label(form.tipoActividad) }}</label>
                {{ form_widget(form.tipoActividad,{'attr': {'class': 'form-control input-sm', 'placeholder':'Tipo de actividad'} } ) }}
            </div>
            <div>{{ form_errors(form.tipoActividad) }}</div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <p class="text-info">Seleccione uno o más motivos de la actividad</p>
            <div class="form-group col-md-12">
                {% for key in form.motivo %}
                    <div class="form-check form-check-inline">
                        {{ form_widget(key, {'attr': {'class': 'form-check-input'}})}}
                        {{ form_label(key, label|default(null), { 'label_attr': {'class': 'form-check-label'}})}}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="form-group col-md-12">
            <div>
                <label class="text-info" class="text-info" for="formNombreEvento">{{ form_label(form.nombreEvento) }} <small>(si es el caso)</small></label>
                {{ form_widget(form.nombreEvento,{'attr': {'class': 'form-control input-sm', 'placeholder':'Nombre del evento'} } ) }}

            </div>
            <div>{{ form_errors(form.nombreEvento) }}</div>
        </div>
        <div class="form-group col-md-12">
            <div>
                <label class="text-info" class="text-info" for="formTituloTrabajo">{{ form_label(form.tituloTrabajo) }}</label>
                {{ form_widget(form.tituloTrabajo,{'attr': {'class': 'form-control input-sm', 'placeholder':'Título del trabajo'} } ) }}
            </div>
            <div>{{ form_errors(form.tituloTrabajo) }}</div>
        </div>
        <div class="form-group col-md-6">
            <div>
                <div>
                    <label class="text-info" class="text-info">{{ form_label(form.nacional) }}</label>
                </div>
                {% spaceless %}
                    {% for child in form.nacional %}
                        <div class="form-check form-check-inline">
                            {{ form_widget(child) }}  {{ form_label(child, null, {'label_attr': {'class': 'form-check-input'}}) }}
                        </div>
                    {% endfor %}
                {% endspaceless %}
            </div>
            <div>{{ form_errors(form.nacional) }}</div>
        </div>

        <div class="form-group col-md-3">
            <div>
                <div>
                    <label class="text-info" class="text-info">{{ form_label(form.invitacion) }}</label>
                </div>
                {% spaceless %}
                    {% for child in form.invitacion %}
                        <div class="form-check form-check-inline">
                            {{ form_widget(child) }}  {{ form_label(child, null, {'label_attr': {'class': 'form-check-input'}}) }}
                        </div>
                    {% endfor %}
                {% endspaceless %}
            </div>
            <div>{{ form_errors(form.invitacion) }}</div>
        </div>

        <div class="form-group col-md-3">
            <div>
                <div>
                    <label class="text-info">{{ form_label(form.plenaria) }}</label>
                </div>
                {% spaceless %}
                    {% for child in form.plenaria %}
                        <div class="form-check form-check-inline">
                            {{ form_widget(child) }}  {{ form_label(child, null, {'label_attr': {'class': 'form-check-input'}}) }}
                        </div>
                    {% endfor %}
                {% endspaceless %}
            </div>
            <div>{{ form_errors(form.plenaria) }}</div>
        </div>

        {% if form.sinodalAlumno is defined %}
            <div class="form-group col-md-6">
                <label class="text-info">{{ form_label(form.sinodalAlumno) }} <small>(si es el caso)</small></label>
                {{ form_widget(form.sinodalAlumno, {'attr': {'class': 'form-control'} } ) }}
                <div class="text-danger">{{ form_errors(form.sinodalAlumno) }}</div>
            </div>
        {% endif %}

        {% if form.sinodalGrado is defined %}
            <div class="form-group col-md-3">
                <label class="text-info">{{ form_label(form.sinodalGrado) }} <small>(si es el caso)</small></label>
                {{ form_widget(form.sinodalGrado,{'attr': {'class': 'form-control input-sm', 'placeholder':'Grado'} } ) }}
                <div class="text-danger">{{ form_errors(form.sinodalGrado) }}</div>
            </div>
        {% endif %}

        <div class="col-lg-6">
            <div class="form-group">
                <div class="text-info">
                    {{ form_label(form.institucion) }}
                </div>
                <div>
                    {{ form_widget(form.institucion,{'attr': {'class': 'form-control input-sm', 'placeholder':'Institución'} } ) }}
                </div>
                <div>{{ form_errors(form.institucion) }}</div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <div class="text-info">
                    {{ form_label(form.departamento) }}
                </div>
                <div>
                    {{ form_widget(form.departamento,{'attr': {'class': 'form-control input-sm', 'placeholder':'Departamento'} } ) }}
                </div>
                <div>{{ form_errors(form.departamento) }}</div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <div class="text-info">
                    {{ form_label(form.lugar) }}
                </div>
                <div>
                    {{ form_widget(form.lugar,{'attr': {'class': 'form-control input-sm', 'placeholder':'Lugar'} } ) }}
                </div>
                <div>{{ form_errors(form.lugar) }}</div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="form-group">
                <div class="text-info">{{ form_label(form.fechaInicio) }}</div>
                <div class="form-row ">
                    <div class="col" >{{ form_widget(form.fechaInicio.day, {'attr': {'class': 'form-control input-sm'} } ) }}</div>
                    <div class="col" >{{ form_widget(form.fechaInicio.month, {'attr': {'class': 'form-control input-sm'} } ) }}</div>
                    <div class="col" >{{ form_widget(form.fechaInicio.year, {'attr': {'class': 'form-control input-sm'} } ) }}</div>
                    <div>{{ form_errors(form.fechaInicio) }}</div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <div class="text-info">{{ form_label(form.fechaFin) }}</div>
                <div class="form-row ">
                    <div class="col" >{{ form_widget(form.fechaFin.day, {'attr': {'class': 'form-control input-sm'} } ) }}</div>
                    <div class="col" >{{ form_widget(form.fechaFin.month, {'attr': {'class': 'form-control input-sm'} } ) }}</div>
                    <div class="col" >{{ form_widget(form.fechaFin.year, {'attr': {'class': 'form-control input-sm'} } ) }}</div>
                    <div>{{ form_errors(form.fechaFin) }}</div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <div class="text-info">
                    {{ form_label(form.observaciones) }}
                </div>
                <div>
                    {{ form_widget(form.observaciones,{'attr': {'class': 'form-control input-sm', 'placeholder':'Observaciones'} } ) }}
                </div>
                <div>{{ form_errors(form.observaciones) }}</div>
            </div>
        </div>
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
        {{ form_end(form) }}
    </div>
</form>