<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Informe y plan de trabajo - Centro de Ciencias Matemáticas {% endblock %}</title>

    {% block head_css %}
        <link href="{{ asset('fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/sb-admin2.css') }}" />
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body  class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader-mobile--fixed kt-aside--enabled kt-aside--left kt-aside--fixed kt-aside--offcanvas-default kt-page--loading"  >
{% block header %}
    <div class="container">
        <header>
            <!-- Image and text -->
            <nav class="navbar navbar-expand-lg navbar-light ">
                <a class="navbar-brand" href="#">
                    <img src="{{ asset('img/ccm-color.png') }}"  height="50" width="155" class="d-inline-block align-top" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end " id="navbarNavDropdown">

                    <ul class="navbar-nav ml-auto">
                        {% if not is_granted('ROLE_ADMIN') and not is_granted('ROLE_CONSULTA') %}
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-file-alt"></i> Informes y planes anteriores
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{{ path('consulta',{'anio':anterior-4}) }}"><i class="fa fa-calendar"></i> {{ anterior-4 }}</a>
                                <a class="dropdown-item" href="{{ path('consulta',{'anio':anterior-3}) }}"><i class="fa fa-calendar"></i> {{ anterior-3 }}</a>
                                <a class="dropdown-item" href="{{ path('consulta',{'anio':anterior-2}) }}"><i class="fa fa-calendar"></i> {{ anterior-2 }}</a>
                                <a class="dropdown-item" href="{{ path('consulta',{'anio':anterior-1}) }}"><i class="fa fa-calendar"></i> {{ anterior-1 }}</a>
                                <a class="dropdown-item" href="{{ path('consulta',{'anio':anterior}) }}"><i class="fa fa-calendar"></i> {{ anterior }}</a>

                            </div>
                        </li>
                        {% endif %}

                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user"></i> {{ app.user }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{{ path('dashboard') }}"><i class="fa fa-chess-board"></i> Inicio</a>

                                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                    <a class="dropdown-item" href="{{ path('admin_index', {'_switch_user': '_exit'}) }}"><i class="fa fa-user"></i> Exit User</a>
                                {% endif %}
                                {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
                                    <a class="dropdown-item" href="{{ path('admin_index') }}"><i class="fa fa-calendar-check"></i> Administración</a>
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN') %}
                                <a class="dropdown-item" href="{{ path('reporte_index') }}"><i class="fa fa-database"></i> Reportes</a>
                                {% endif %}

                                <a class="dropdown-item" href="{{ path('fos_user_profile_edit') }}"><i class="fa fa-cog"></i> Configuración</a>
                                <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}"> <i class="fa fa-sign-out-alt"></i> Cerrar sesión</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    </div>
{% endblock %}

<div class="container-fluid">
    {% block body %}
        <div class="row">
            <div id="main" class="col-sm-12">
                {{ include('default/_flash_messages.html.twig') }}

                {% block main %}{% endblock %}
            </div>
        </div>
    {% endblock %}
</div>

{% block footer %}
    <footer>
        <div class="container-fluid pt-5">
            <div class="row">
                <div id="footer-copyright" class="col-md-6">
                    <p>&copy; {{ 'now'|date('Y') }} - Centro de Ciencias Matemáticas</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block head_js %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

{% endblock %}

</body>
</html>
